@use "../../styles/variables" as *;

.index-container {
  margin-top: 8rem;
  margin-left: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3.1875rem;

  &__header {
    padding: 0 3rem 2rem 3rem;
    border-bottom: 2px $color-grey-light solid;
  }
}