@use "../../styles/variables.scss" as *;
@use "../../styles/main.scss" as *;

li a {
  text-decoration: none;
  color: #2d2f31;
}

.drop-down {
  font-family: $font-secondary;
  letter-spacing: $letter-spacing;
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    cursor: pointer;
    background: $color-white-smoke;
    font-size: $font-size-small;
    color: $color-blue-navy-dark;
  }

  &__title::after {
    float: right;
    right: 10%;
  }

  &__list {
    display: flex;
    clear: both;
    width: 100%;
    background-color: $color-white;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    
  }

  &__list li {
    padding: 30px;
    
  }

  &__content {
    color: $color-teal;
  }

  &__image {
    margin-right: 20px;
  }
}

#click {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#click:checked + .drop-down__list {
  height: auto;
}
