@use "../../styles/variables"as *;
@use "../../styles/typography"as *;


.pagination {
    position: absolute;
    left: 20.8rem;
    top: 50.3rem;
    display: flex;
    justify-content: flex-start;
    list-style: none;

    & a {
        margin: 0.15rem;
        height: 2rem;
        width: 2rem;
        border: solid 1px $color-grey-normal;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white-smoke;
        color: $color-grey-dark;
        font-size: $font-size-extra-small;
        font-weight: $font-weight-regular;
        cursor: pointer;

        &:hover {
            color: $color-white;
            background-color: $color-grey-dark;
        }
}

    & .active a {
        background-color: $color-black;
        color: $color-white;
    }

    & .inactive a {
        opacity: 0.5;
        cursor:not-allowed;

        &:hover {
            background-color: $color-white-smoke;
            color: $color-grey-dark;
        }

    }
    

}




