@use "../../styles/variables" as *;
@use "../../styles/main.scss" as *;

.add-pathway{

    margin: 1rem;

    display: grid;

    &__headings{
        margin-bottom: 2rem;
    }

    &__main-header{
        color: $color-blue-navy-dark;
    }

    &__sub-header{
        color: $color-teal;
        margin: 1rem 0rem;
    }

    &__buttons{
        display: flex;
    }

   .short{
    &__input{
        margin-bottom: 1rem;;
    }

   }

   .free-type{
    &__input {
        margin-bottom: 1rem;
    }
   }

   

   
    
}


