@use "../../styles/variables" as *;

* {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}

.header-profile {
    height: 4.25rem;
    width: 14.625rem;
    padding-left: 0.625rem;
    padding-top: 0.563rem;
    padding-bottom: 0.563rem;
    display: flex;
    align-items: center;
    border-radius: 4.375rem;
    background-color: $color-white;

    &__image {
        height: 3.125rem;
        width: 3.125rem;
        margin-right: 8px;
        border-radius: 50%;       
    }
    &__text{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {
        height: 1.063;
        min-width: fit-content;
        max-width: 8.5rem;
        margin: 0;
        font-size: $font-size-small;
        font-weight: $font-weight-regular;
        text-align: left;
        color: $color-blue-navy;
    }
    &__role{
        height: 0.75rem;
        width: 1.875rem;
        margin: 0;
        font-size: $font-size-extra-small;
        font-weight: 400;
        text-align: left;
        color: $color-grey; 
    }
    &__arrow{
        height: 0.688rem;
        width: 0.41rem;
        margin-left: 1.5rem;
        margin-right: 2.094rem;
    }
}