@use "../../styles/variables" as *;


.add-lesson {
    color: black;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    


    &__input {
       
        border-radius: 0.5rem;
        width: 32rem;
        padding-left: 0.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
    }
    &__answer {
       
        border-radius: 0.5rem;
        width: 32rem;
        padding-left: 0.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
    }
    &__buttons {
        margin-top: 50px;
        display: flex;
        gap: px;
    }
    &__add{
        text-decoration: underline dotted;
        color: black;
    }
}

label {
    color: #344054;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
}




// &__label{
//     font-size: 0.88rem;
//     color: $color-blue-dark;
//     padding-bottom: 2.5rem;
// }

// &__dropdown {
//     background: url(../../assets/upside-down-arrow-grey.svg)  no-repeat right;
//     -webkit-appearance:none; 
//     appearance:none;
//     width: 30.63rem;
//     height: 1.5rem;
//     color: $color-grey-dark;
//     border: none;
//     font-size: 1rem;
    
//     &:focus{
//         outline: none;
//     }
// }
