@use "../../styles/variables" as *;


.add-lesson {
    color: #344054;
    display: flex;
    flex-direction: column;
    
    &__input {
       border: #D0D5DD 1px solid;
        border-radius: 0.5rem;
        width: 32rem;
        padding-left: 0.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        margin: 10px;
        margin-left: 20px;
    }
    &__answer {
    
        border-radius: 0.5rem;
        width: 32rem;
        padding-left: 0.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        border: #D0D5DD 1px solid;
        margin: 5px;
        margin-left: 20px;
    }
    &__buttons {
        margin-top: 50px;
        display: flex;
        gap: 10px;
        
    }
    &__add{
        text-decoration: underline dotted;
        color: rgba(45, 48, 58, 0.5);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        margin: 10px;
        margin-left: 20px;
    }
}

label {
    color: #344054;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin: 5px;
    margin-left: 20px;
    
}




// &__label{
//     font-size: 0.88rem;
//     color: $color-blue-dark;
//     padding-bottom: 2.5rem;
// }

// &__dropdown {
//     background: url(../../assets/upside-down-arrow-grey.svg)  no-repeat right;
//     -webkit-appearance:none; 
//     appearance:none;
//     width: 30.63rem;
//     height: 1.5rem;
//     color: $color-grey-dark;
//     border: none;
//     font-size: 1rem;
    
//     &:focus{
//         outline: none;
//     }
// }
