.course-overview {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100%;
  gap: 50px;
}
.course-overview__main {
  display: grid;
  grid-template-rows: 3fr 1fr 5fr;
  margin-left: 32px;
}
.course-overview__side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin-right: 10px;
}