@use "../../styles/_variables" as *;

.lesson-preview {
  width: 27.625rem;
  height: 41.75rem;
  display: flex;
  flex-direction: column;
  background: $color-white-smoke;
  overflow-y: scroll;
  padding: 2.18rem;
  &__line {
    margin-top: 2.18rem;
    margin-bottom: 2.18rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.031rem solid $color-grey-light;
    width: 100%;
    background-color: $color-grey-light;
  }
}
