@use "../../styles/_variables.scss" as *;

.add-lesson{

    &__buttons {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    &__add {
        text-decoration: underline dotted;
        text-underline-offset: 0.25rem;
        color: $color-blue-navy-dark;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        cursor: pointer;
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 1.68rem;
    }
}



