@use '../../styles/_variables' as *;
@use '../../styles/_typography' as *;

.navBarItem{
  display: flex;
  height: min-content;
  &__image{
    padding:5px;
  }
  &__text{
    padding:5px;
  }
}

.selected {
  border-left: 3px solid green;
  background-color: gray;
}