@use '../../styles/_variables' as *;
@use '../../styles/_typography' as *;

.navBarItem{
  display: flex;
  height: min-content;
  &__image{
    padding:7px;
  }
  &__text{
    padding:5px;
    color: $color-grey-dark;
  }
}


.selected {
  border-left: 3px solid $color-teal;
  background-color: rgba($color-grey-light, 0.3);
  > *{
    color: $color-blue-navy-dark;
  }
}