@use '../../styles/_variables' as *;
@use '../../styles/_typography' as *;

.navBarItem{
  display: flex;
  height: min-content;
  align-items: center;
  &__image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:7px;
    svg{
      height: 16px;
      width: 16px;
    }
    path{
      stroke: $color-grey-dark;
    }
  }
  &__text{
    padding:5px;
    color: $color-grey-dark;
  }
}


.selected {
  border-left: 3px solid $color-teal;
  background-color: rgba($color-grey-light, 0.2);
  > *{
    color: $color-blue-navy-dark;
  }
  path{
    stroke: $color-blue-navy-dark;
  }
}


