@use "../../styles/variables" as *;

.add-lesson {
    display: flex;
    flex-direction: column;
    max-width: 32rem;

    &__input-one{
        margin-bottom: 1.75rem !important;
    }
    
    &__input-two {
        height: 9.37rem !important;
        width: 32rem !important;
        margin-bottom: 1rem !important; 
    }
}

