@use "../../styles/_variables.scss" as *;
@use "../../styles/typography.scss" as *;

.title {
    margin-bottom: 30px;

    &__heading {
        color: $color-black;
        font-family: $font-secondary;
        font-size: 32px;
        font-weight: 600;
        line-height: 38.73px;
        margin-bottom: 10px;
    }

    &__text {
        color: $color-grey-dark;
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
    }
    
}