@use "./variables"as *;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');


// here we use rem for font-size
// rem is relative to the :root element in the dom (html tag)
// we can manipulate the :root element's font-size at different breakpoints to scale up the font-size application-wide

* {
  font-family: 'Lexend Deca', sans-serif;
  color: $text-color;
}

// Splash screen = 2.5rem, 400fw 
// page headers = 2rem, 400fw
// course and pathway tiles = 1.75rem, 700fw
// lesson and challenge headers = 1.5rem, 700fw
// section headers = 0.8rem, 400fw
// current email body/context = 1rem, 400fw, letter spacing of 160%
// inbox email body/content overview = 0.8rem, 400fw, letter spacing of 160%
// filters checkbox label = 0.8rem, 400fw.



//font size:
// $font-size-splash-screen: 2.5rem;
// $font-size-page-headers: 2rem;
// $font-size-course-pathway-tiles: 1.75rem;
// $font-size-lesson-challenge-headers: 1.5rem;
// $font-size-section-headers: 0.8rem;
// $font-size-email-body-context: 1rem; 
// $font-size-inbox-overview: 0.8rem;
// $font-size-filters-checkbox-label: 0.8rem;





h1,
h2,
h3,
h4,
h5,
h6,
p {
  // adding display and width prevents margin collapse on these semantic text elements
  margin: 0.5rem 0;
  display: inline-block;
  width: 100%;
}

button {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: $font-weight-regular;
}

h2 {
  font-size: 2rem;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: $font-weight-regular;
}

h5 {
  font-size: 1rem;
  font-weight: $font-weight-regular;
}

h6 {
  font-size: 0.8rem;
  font-weight: $font-weight-regular;
}

@media screen and (min-width: $tablet-breakpoint) {

  // increases font-size of all items by 10%
  :root {
    font-size: 110%;
  }
}

@media screen and (min-width: $desktop-breakpoint) {

  // increases font-size of all items by 20%
  :root {
    font-size: 120%;
  }
}