@use "./variables"as *;


* {
  font-family: $font-primary;
  color: $text-color;
}

p {
  margin: 0.5rem 0;
  display: inline-block;
  width: 100%;
}

button {
  font-size: 1rem;
}

h1 {
  font-size: $font-size-largest;
  font-weight: $font-weight-regular;
}

h2 {
  font-size: $font-size-extra-large;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
}

h5 {
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
}

h6 {
  font-size: $font-size-extra-small;
  font-weight: $font-weight-regular;
}

@media screen and (min-width: $tablet-breakpoint) {
  :root {
    font-size: 110%;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  :root {
    font-size: 120%;
  }
}