@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$text-color: #f3f2e8;
$background-color: #1f1b1b;

//Red colors
$color-red-light:#EB4444;
$color-red-normal:#DE3B1F;
$color-red-dark:#D92D20;

//Grey colors
$color-grey-dark: #7B7B7B;
$color-grey-normal: #70788A;
$color-grey-light:#B0B7C8;

//Blue colors
$color-blue-dark:#101828;
$color-blue-navy: #344054;
$color-blue-navy-dark: #2D303A;

//Purple colors
$color-purple-dark:#363F72;
$color-purple:#6941C6;

//Green colors
$color-green:#25312F;
$color-teal: #5D7582;

//White colors
$color-white: #FFFFFF;
$color-white-blue: #B1B8CF;
$color-white-smoke: #F5F5F5;

//Black colors
$color-black: #000000;

// font weight:
$font-weight-regular: 400;
$font-weight-bold: 700;

// letter-spacing:
$letter-spacing: 160%;

//font size:
$font-size-largest: 2.5rem;
$font-size-extra-large: 2rem;
$font-size-large: 1.75rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;
$font-size-extra-small: 0.8rem;

// font-family
$font-primary: 'Lexend Deca',
sans-serif;