@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;


.question {
    font-size: $font-size-extra-small;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    &__container {

    }

    &__title {
        font-weight:$font-weight-bold;
        color: $color-blue-navy-dark;
    }

    &__answers {
    margin-left: 0.96rem;
        
    }

    &__each-answer { 
        font-weight: $font-weight-regular;
        color: $color-grey-normal;       
    }
}


.buttons {
    

    &__pen {
        filter: brightness(0) saturate(100%) invert(44%) sepia(16%) saturate(518%) hue-rotate(182deg) brightness(94%) contrast(86%); 
    }

    &__bin {
        filter: brightness(0) saturate(100%) invert(31%) sepia(78%) saturate(1774%) hue-rotate(324deg) brightness(85%) contrast(88%);
    }
}