@use "../../styles/_variables.scss" as *;
@use "../../styles/typography.scss" as *;

.title {
    margin-bottom: 26px;

    &__heading {
        color: #000000;
        font-size: 32px;
        font-weight: 600;
        line-height: 38.73px;
    }

    &__text {
        color: $color-grey;
        font-size: 14px;
        font-weight: 600;
        line-height: 22.4px;
    }
    
}