@use "../../styles/variables.scss" as *;
@use "../../styles/typography.scss" as *;

.home {
    position: relative;
    width: 1728px;
    height: 1117px;
    background-color: rgba(255, 255, 255, 1);

   
}