@use "../../styles/variables" as *;

.layout {
  //max-width: 100vw;
  display: grid;
  grid-template-columns: 16.5rem auto;
  grid-template-rows: auto 1fr;

  &__nav-bar {
    grid-area: 1/1/3/2;
  }

  &__header {
    padding: 2rem;
  }
}
