@use "../../styles/_typography" as *;
@use "../../styles/_variables.scss" as *;


.heading {
    max-width: 753px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__image{
        width: 100%;
        position: relative;
    }

    &__icon{
        width: 90px;
        height: 90px;
        top: 20px;
        left: 20px;
        position: absolute;
        z-index: 1;
    }

    &__title {
        color: $color-blue-navy-dark;
        width: 100%;
    }

    
}
