@use "../../styles/variables" as *;

.header-container {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  background-color: $color-white;
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}