@use "../../styles/variables" as *;

.header-container {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  background-color: $color-white;
  color: $color-blue-navy-dark;
  font-size: 64px;
  font-weight: $font-weight-regular;
  font-family: $font-secondary;
}