@use "../../styles/variables" as *;

* {
    color: $color-grey-light !important;
}


.ant-pagination {
    float: left;
}

.ant-table-tbody > tr > td {
    color: $color-grey-dark !important;
}

// .ant-table-thead > tr > th {
//     color: $color-grey-light;
// }

.ant-checkbox-input{
    border-radius: 4px;
}

.anticon-delete {
    color: black !important;
}
