@use "../../styles/variables"as *;

* {
    color: $color-grey-light !important;
    font-family: $font-secondary;
}

body {
    width: 83.4rem !important;
    height: 100% !important;
}

.layout {
    background-color: $color-white-smoke;
}


.ant-table-pagination-right {
    justify-content: flex-start;
}

.ant-table-thead>tr>th {
    color: $color-grey-dark;
    height: 3.75rem !important;
    font-size: $font-size-extra-small;
    background-color: $color-white-smoke;
}

.ant-table-tbody>tr> :nth-child(2) {
    font-weight: $font-weight-bold;
    color: $color-black !important;
}

.ant-table-tbody>tr>td {
    color: $color-grey-dark !important;
    height: 4rem !important;
    font-size: $font-size-smallest;
}

.ant-checkbox-input {
    border-radius: 0.25rem;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none !important;
}

.anticon-delete svg {
    filter: invert(71%) sepia(88%) saturate(6543%) hue-rotate(336deg) brightness(98%) contrast(86%);
    width: 0.9rem !important;
    height: 1rem !important;
    opacity: 0.7;
}

.anticon-edit svg {
    filter: invert(71%);
    width: 0.9rem !important;
    height: 1rem !important;
    opacity: 0.7;
}

.anticon svg:hover {
    opacity: 1;
}

.ant-pagination-item-active {
    color: $color-white;
    background-color: $color-black;
    border-color: $color-grey-normal;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
    opacity: 0.5;
}

//classname should be assigned to the providers icons in the table
.providers {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: -0.3rem;
}