@use "../../styles/main.scss" as *;
@use "../../styles/variables" as *;

.view-options {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  font-family: $font-secondary;
  background-color: $color-white;
  box-shadow: inset 0rem -0.125rem 0rem 0rem #e6e6e6;
  cursor: pointer;
  &__overview, &__courses, &__stats {
    margin-left: 2rem;
    padding: 0.625rem;
    opacity: 40%;
    color: $color-blue-navy-dark;
    text-decoration: none;
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
  }
  &__overview--clicked:after, &__courses--clicked:after, &__stats--clicked:after {
    background: none repeat scroll 0 0 #b4ddc0;
    bottom: -0.625rem;
    left: 25%;
    content: "";
    display: block;
    height: 0.25rem;
    position: relative;
    width: 50%;
  }
  &__overview--clicked, &__courses--clicked, &__stats--clicked {
    margin-left: 2rem;
    padding: 0.625rem;
    color: $color-blue-navy-dark;
    opacity: 100%;
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
  }
}
