@use '../../styles/variables.scss' as *;

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26.7rem, 1fr));
    border: 1px black solid;
    gap: 25px;
    justify-content: end;

    &__box {
        display: flex;
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
    }
}