// Import all the BEM files
@use "../../styles/main.scss" as *;
@use "../../styles/_variables.scss" as *;

.search-bar {
    display: flex;
    width: 26.56rem;
    height: 3rem;
    align-items: center;
    background-color: $color-white;

    &__input {
        height: 0.94rem;
        width: 7.12rem;
        border-radius: 2.7rem;
        border: 0.063rem;
        border-color: #f2f2f2;
    }

    &__image {
        height: 0.75rem;
        width: 0.75rem;
    }
}

// border radius = 2.7rem
// border = 0.063rem

// border colour = #F2F2F2
// background colour = #FFFFFF

// input font = inter

// 16px above input and 17px below

// 16px between magnifying glass and input
// 29px to the left of the magnifying glass
// 254px to the right of the input