// Import all the BEM files
@use "../../styles/main.scss" as *;

.search-bar {
    display: flex;
    width: 2.6rem;
    height: 3rem;
    background-color: #FFFF;
}
// width of searchbar = 26.6rem
// height of searchbar = 3rem
// border radius = 2.7rem
// border = 0.063rem

// border colour = #F2F2F2
// background colour = #FFFFFF

// input font = inter
// input height = 15px

// input width = 114
// 16px above input and 17px below

// 16px between magnifying glass and input
// 29px to the left of the magnifying glass
// 254px to the right of the input