* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;

}

.card {
    
    width: 26.724rem;
    height: 16.703rem;

    &__image {
        width: 100%;
        height: auto;

    }

    &__date {
        font-family:'Courier New', Courier, monospace;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #5D7582;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__icon {
        margin-top: 10px;
    }

    &__title {
        font-family:'Courier New', Courier, monospace;        
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #101828;
    }

    &__info {
        font-family:'Courier New', Courier, monospace;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    &__links {
        font-family:'Courier New', Courier, monospace;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }


    &__link {
        font-family:'Courier New', Courier, monospace;
        display: inline;
        margin: 0 10px;
        opacity: 0.9;
        background-color: #ececec;
        border-radius: 10px;

        &--purple{
            color: #6941C6;

        }
        &--darkblue{
            color: #363F72;
        }
    }
}