@use "../../styles/variables" as *;

.pathway-introduction {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    &__img {
        grid-area: 1/1/3/2;
    }

    &__title {
        color: $color-blue-navy-dark;
    }

    &__description {
        border: 2px solid white;
        color: $color-teal;
    }
}