@use "../../styles/_typography" as *;
@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset" as *;

.career {
  padding: 1rem;
  width: 23.063rem;
  height: fit-content;

  background: #ffffff;

  box-shadow: 0px 20px 40px rgba(208, 209, 216, 0.24);
  border-radius: 10px;

  &__heading {
    margin-bottom: 1rem;
    color: $color-blue-navy-dark;
  }

  &__list {
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 0.27rem;
    color: $color-teal;
    font-size: $font-size-extra-small;

    &::marker {
      width: 0.438rem;
      height: 0.438rem;
      color: $color-green-light;
    }
  }
}

// .career__item::marker{
//     width: 0.438rem;
//     height: 0.438rem;
//     color: $color-green-light;
// }
