@use "../../styles/variables" as *;

.pathway-list {
  &__header {
    padding: 0 3rem 2rem 3rem;
    border-bottom: 2px $color-grey-light solid;
  }

  &__table {
    padding: 3rem;
  }

  &__nav {
    padding: 2rem 3rem 2rem 5rem;
    display: flex;
    justify-content: space-between;
    max-width: 1334px;
  }
}
