@use "../../styles/variables.scss" as *;


.list-page{

  &__header{
    border-bottom: 2px solid $color-grey-light;
    padding: 3rem 0;;
  }

  &__title{
    padding-left: 3rem;
  }

  &__body{
    padding: 0 3rem;
  }

  &__nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
}