@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.lesson-content {
  &__item {
    width: fit-content;
    height: fit-content;
    font-size: $font-size-extra-small;
  }

  &__title {
    font-weight: $font-weight-bold;
    color: $color-blue-navy-dark;
  }

  &__text {
    font-weight: $font-weight-regular;
    color: $color-grey-normal;

    margin-top: 0.56rem;
    margin-bottom: 1.4rem;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  &__pen {
    width: 1rem;
    height: 1rem;
    filter: brightness(0) saturate(100%) invert(44%) sepia(16%) saturate(518%)
      hue-rotate(182deg) brightness(94%) contrast(86%);
  }
  &__bin {
    width: 1rem;
    height: 1rem;
    filter: brightness(0) saturate(100%) invert(31%) sepia(78%) saturate(1774%)
      hue-rotate(324deg) brightness(85%) contrast(88%);
  }
}
