@use "../../styles/variables.scss" as *;
@use "../../styles/typography.scss" as *;

.login {
  height: 26rem;
  width: 24rem;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem;

  &__title {
    &--heading {
      color: $color-black;
      font-family: $font-secondary;
      font-size: $font-size-extra-large;
      font-weight: $font-weight-bold;
      line-height: 2.44rem;
    }

    &--text {
      color: $color-grey-dark;
      font-family: $font-secondary;
      font-style: normal;
      font-size: $font-size-extra-small;
      font-weight: $font-weight-regular;
      line-height: $letter-spacing;
      width: 22.125rem;
    }
  }

  &__alert {
    color: $color-black;
  }

  &__success {
    color: $color-black;
  }
}
