@use "../../styles/variables" as *;

.categories-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    font-weight: $font-weight-regular;
    font-size: $font-size-extra-small;
    line-height: 1.2rem;
    margin: 0 0.6rem;
    border-radius: 0.6rem;
    padding: 0 0.6rem;

    &--marketplace {
      color: $color-grey-dark;
      padding-right: 2rem;
      font-size: 1.25rem;
    }

    &--icons {
      padding-right: 0.75rem;
    }

    &--purple {
      color: $color-purple;
      background-color: #f9f5ff;
    }

    &--darkpurple {
      color: $color-purple-dark;
      background-color: #f8f9fc;
    }
  }
}
